@import "tailwindcss";

@theme {
    --color-brand-500: rgb(200, 30, 200);
    --shadow-dark: 2px 2px 10px 2px rgb(240, 0, 165);
    --shadow-light: 2px 2px 10px 2px rgb(20, 200, 150);
    --shadow-angel: 2px 2px 10px 2px rgb(40, 100, 230);
}
